* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #fff;
    color: #2C3B47;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

.header-title {
    text-transform: uppercase;
    font-size: 1.25em;
    background-color: #2A3947;
    color: #fff;
    width: 100vw;
    padding: 20px;
    margin-top: 0;
}

main {
    padding: 0;
}

.header-text {
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
}

header p {
    color: #b9bcbd;
    font-weight: lighter;
}

.border-div {
    border-top: solid #2A3947 5px;
    padding: 2px;
    margin-top: 25px;
}

form {
    padding: 0;
    border-top: solid #2A3947 2px;
}

.contact-info input:focus,
.contact-info select:focus,
#other-topics:focus {
    outline: none;
    transition: 1s;
    transform: scale(1.02);
    border: solid 2px paleturquoise;
    background-color: rgb(199, 199, 194);
}

fieldset {
    margin-top: 20px;
    padding: 5px 0;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}
 
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

fieldset,
.contact-info input,
.contact-info select,
textarea,
#submit-button
{
    border: none;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0;
}

label {
    font-weight: 300;
    color: #4d606e;
    margin: 20px 0;

}

input {
    transition: 1s;
}

.contact-info label {
    margin: 15px 0;
}

.contact-info input::placeholder
{
    overflow: visible;
    text-align: right;
    color: #2a394796;
    font-style: italic;
}

textarea::placeholder{
    overflow: visible;
    text-align: left;
    color: #2a394796;
    font-style: italic;
}


.contact-info input,
select {
    background-color: #EEF0F1;
    border-radius: 5px;
    height: 50px;
    padding-right: 15px;
}

#state {
    color: #CBCFD1;
}

#zip {
    width: 50%;
    margin-bottom: 20px;
}

.newsletter-border-div {
    border-bottom: solid #2A3947 2px;
}

.newsletter input {
    margin: 10px;
}

.newsletter-checkboxes {
    background-color: lightsteelblue;
    padding: 5px;
}

.newsletter-radios {
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 5px;

}

.newsletter textarea {
    margin-top: 15px;
}

#other-topics {
    resize: none;
    background-color: #EEF0F1;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;

}

#submit-button {
    background-color: #00BEB6;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}


footer {
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    color: #CBCFD1;
}


@media(min-width: 768px) {

    .contact-info label {
        width: 150px;
    }

    .row
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
    }

    .grow
    {
        flex-grow: 1;
        margin: 20px 0 0 15px;
    }

    #zip {
        width: 30%;
        margin: 20px 0 20px 15px;
    }

}